/* style.css */

#modal {
    background-color: rgba(0, 0, 0, 0.5); /* Define a cor de fundo da caixa modal (transparente) */
    display: block; /* Exibe a caixa modal por padrão */
    position: fixed; /* Posiciona a caixa modal de forma fixa na tela */
    top: 0; /* Posiciona a caixa modal no topo da tela */
    left: 0; /* Posiciona a caixa modal na esquerda da tela */
    width: 100%; /* Define a largura da caixa modal para 100% da tela */
    height: 100%; /* Define a altura da caixa modal para 100% da tela */
    overflow: auto;
}


.conteudoModal {
    background-color: var(--bg-color__sec);
    border-radius: 8px;

    width: 60vw;
    max-width: 844px;

    margin:auto; /* Centraliza o conteúdo da caixa modal na tela */
    margin-top: 4vw;

    color: var(--text-color__pri);
    font-family: var(--text-font__pri);
    font-size: 16px;
    text-align: center;
}

.rust_wiki {
    background-color: var(--bg-color__pri);
    padding: 24px;
    border-radius: 8px;
    color: var(--text-color__qui);
    font-size: 18px;
    font-weight: 400;
}

.wiki_linguagem {
    padding: 64px 0px 32px 0px;
}

.version_by {
    padding: 0px 32px;
}

.so_precisamos {
    padding: 24px 32px;
}

.rs {
    padding: 0px 32px;
}

.rodape{
    text-align: right;
    padding: 64px 32px 32px 0px;
}

.rs_span_pri {
    color: var(--text-color__sex);
}

.rs_span_sec {
    color: var(--text-color__tec);
}

#fecharModal {
    display: none; /* Exibe o botão de fechar */
}

