@import url(display.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
        
    --bg-color__pri: #212435; /*Azul Claro - 25% */
    --bg-color__sec: #24273A; /*Azul Claro - 100% */

    --text-color__pri: #fff;
    --text-color__sec: #ED8796;
    --text-color__tec: #EED49F;
    --text-color__qua: #A6DA95;
    --text-color__qui: #C6A0F6;
    --text-color__sex: #F5A97F;
    --text-color__set: #91D7E3;
    --text-color__oct: #1e1e2e;
    --text-color__nin: #89b4fa;


    --text-font__pri: "Source Code Pro";
}



body {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;
  background-color: var(--bg-color__pri);
  color: var(--text-color__pri);
  font-family: var(--text-font__pri);
  font-size: 0.8em;
}

a {
  color: var(--text-color__tec);
}

li {
  line-height: 1.7em;  
}

.obs {  
  color: var(--text-color__qua);
}

.importante {
  color: var(--text-color__sec);
}

.code-box {
  margin: 2.5rem;
  position: relative;
  font-size: 1.2em;
  border: 1px solid var(--text-color__oct);
  border-radius: 8px;
  padding: 2rem;
  background-color:  var(--text-color__oct);
  overflow: auto; /* Permite rolagem se o código for longo */
}


/* Estilo para o botão de copiar */
.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: var(--text-color__nin);
  color: var(--text-color__pri);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #0056b3;
}
